<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Todo app</title>
</head>

<body>
<header id="header">
	<h1>Todos</h1>
	<input id="new-todo" placeholder="Enter a todo here" autofocus>
</header>

<div id='todo-list'>
	
	{% for todo in todos %}
		{# <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>> #}
		<label>{{todo.title}}</label>
		{# <button class="destroy"></button> #}
	{% endfor %}

</div>
   	<script src="js/underscore.js"></script>
   	<script src="js/backbone.js"></script>

</body>
</html>